@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Quicksand:wght@300..700&family=Ranchers&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  margin: 0 auto;
  min-height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
} 

body{
  background: linear-gradient(300deg, #B5AAD3, #F6E5EA,#ACCCC5);
  background-color: #f6e5ea;
  background-size: 180% 180%;
  animation: gradient-animation 32s ease infinite;
  font-family: 'Ranchers', sans-serif;
  font-weight: 500;
  height: 100%;
  letter-spacing: 2.5px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.top-navigation {
  height: 16vh;
  padding: 36px 16vw 24px;
}

.top-div {
  align-items: center;
  display: flex;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: space-between;
  font-family: 'Ranchers', sans-serif;
}

.small-icon {
 height: 50px;
 width: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.header a {
  text-decoration: none;
  font-weight: bold;
  color: #8E7DBA;
}

.header a:hover {
  color: #99C1B9;
}

.index-body {
  text-align: center;
  color: #B5AAD3;
  /* font-family: 'Quicksand', sans-serif; */
  margin: 8px 16px;
}

/* .homeDiv {
  background-color: rgb(153, 193, 185, 50%);
  padding: 100px;
  height: 500px;
  border-radius: 10px;
} */

.indexLinks{
  display: flex;
  justify-content: center;
  gap: 50px;
  /* font-family: 'Hind Siliguri', sans-serif; */
  font-size: 24px;
  margin-top: 50px;
}

.indexLinks a {
  color: #8E7DBA;
  text-decoration: none;
}

.indexLinks a:hover {
  color: #F6E5EA;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-radius: 10px;
}

.pageTitle {
  font-size: 40px;
}

.subtitle {
  font-size: 30px;
  color: #E1A1B5;
}

.footer {
  /* font-family: 'Quicksand', sans-serif; */
  text-align: center;
  font-size: 24px;
  color: #99C1B9;
}

.about, .contact, .web {
  background-color: rgb(153, 193, 185, 50%);
  color: #8E7DBA;
  font-size: 20px;
  /* padding: 10px;
  padding-left: 50px;
  padding-right: 50px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 10px;
}

.projectText {
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
}

.sub {
  /* font-family: 'Quicksand', sans-serif; */
  color: #E1A1B5;
}

.contactInfo a, .link a {
  color: #E1A1B5;
  text-decoration: none;
}

.contactInfo a:hover, .link a:hover {
  color: #8E7DBA;
  text-decoration: none;
}

.sectionTitle {
  color: #B5AAD3;
  /* font-family: 'Quicksand', sans-serif; */
  text-align: center;
  font-size: 40px;
  padding: 10px;
}

ul {
    text-decoration: none;
}